.main-bg-contianer {
  background-color: #ffffff;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about-heading {
  color: #000000;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
}
