/* Write your CSS here */
.main-bg-container {
  background-color: #ffd569;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-bg-container {
  background-color: #ffffff;
  height: 80vh;
  width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  font-style: Roboto;
}
.count-numbers {
  color: #ffd569;
}
.mini-img {
  height: 300px;
  width: 300px;
  padding: 20px;
  margin: 10px;
}
.sub-img-container {
  display: flex;
}
.sub-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-buttons {
  height: 30px;
  width: 120px;
  background-color: #007bff;
  border-radius: 3px;
  border-style: none;
  border-width: none;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}
